@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-terciaria: #C0DBEA;
    --cor-hover: #E8A0BF;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-primaria);
}

body {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    box-sizing: border-box;
}

main{
    height: auto;
}

.conteudo{
    height: 100%;
    position: relative;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .question {
    align-self: center;
  }
  
h2{
    margin-top: 30px;
}

.spnQtd {}

.question{
    text-align: center;
    height: 100%;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container__host{
    display: flex;
    justify-content: center;
}

.img__host{
    max-width: 60%;
    align-self: center;
}

button {
    width: 100%;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(143, 101, 143, 1) 0%, rgba(198, 142, 213, 1) 35%);
    color: black;
    font-size: 18px;
    border: solid 1px black;
}

.finish{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
  

.botao__reiniciar {
    padding: 5px;
    color: black;
    background-color: gray;
    border: solid 1px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    align-self: center;
    display: none;
}

.img__sad, .img__happy{
    display: none;
}

.container__imagem{
    display: flex;
    justify-content: center;
}

.finish__msg{
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}
  
.cabecalho__menu {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    gap: 10px;
    padding-top: 1em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 1em;
}

.cabecalho__menu__item {
    padding: 1%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 15px;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    white-space: nowrap;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__item:hover {
    background-color: #383636;
}

.conteudo__principal__titulo {
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.conteudo__principal__apresentacao {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
    font-size: 2rem;
    text-align: center;
}

.texto__relogio{
    font-family: var(--fonte-primaria);
    font-size: 26px;
}

.conteudo__principal__relogio{
    width: 60%;
    border-radius: 10px;
    text-align: center;
    border: solid 5px black;
}

#contador {
    font-size: 24px;
    margin-top: 20px;
    font-family: var(--fonte-secundaria);
}

.botao__reiniciar{
    width: 300px;
    padding: 30px;
    font-size: 32px;

}

/* MEDIA SCREEN */

@media screen and (max-width: 420px) {

    .cabecalho__menu {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .cabecalho__menu__item {

        white-space: nowrap;
        text-align: center;
        padding: 12px;
        width: 100px;
    }

    .cabecalho__menu__item:nth-child(1) {
        grid-column: 2;
        grid-row: 1;
    }

    .cabecalho__menu__item:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    .cabecalho__menu__item:nth-child(3) {
        grid-column: 3;
        grid-row: 2;
   }

    .cabecalho__menu__item:nth-child(4) {
        grid-column: 1;
        grid-row: 3;
    }

    .cabecalho__menu__item:nth-child(5) {
        grid-column: 3;
        grid-row: 3;
    }

    .conteudo__principal__imagem{
        max-width: 60%;
    }

    .botao__reiniciar {
        text-align: center;
    }

    .container__host{
        display: none;
    }

}

@media screen and (max-width: 768px) {}